<div class = "layout">
    <h1>Your Inventory</h1>
    {% if items|length == 0 %}
        <h4>No Items in Inventory. Add an item below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Item</th>
            <th>Added At</th>
            <th>Actions</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{item.content}}</td>
            <td>{{item.date_time.date()}}</td>
            <td>
                <a href="/delete/{{item.id}}">Delete</a>
            </br>
                <a href="/update/{{item.id}}"}>Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="export">
        <a href="/export">Export</a>
    </div>
    {% endif %}
    <form action="/" method="POST"> 
        <input type="text" name="item" id="item">
        <input type="submit" value="Add Item">
    </form>
</br>
    
</div>